In [1]:
import pandas as pd
merge_df=pd.DataFrame()

In [2]:
fulltime=pd.read_csv('./fulltime_permenant_job.csv')
contract=pd.read_csv('./contract_intership_job.csv')
temporary=pd.read_csv('./temporary_job.csv')

merge_df=pd.concat([fulltime,contract,temporary])

In [3]:
merge_df.shape

(1011, 16)

In [4]:
merge_df.head(5)

,Unnamed: 0,job_id,job_title,job_company,location,salaries,job_type,edu,summary,job_link,job_desc,skill,programming,analysis,hadoop,database
0,0,jl_d0b1d36a012a20fe,Data scientist,Rakuten Asia Pte Ltd,Singapore,"$5,000 - $9,000 a month",fulltime,"PhD, ph.d",Solid experience in advanced data analytics. B...,https://www.indeed.com.sg/company/Rakuten-Asia...,Data Scientist - Singapore - Indeed.com.sg Fin...,programming,r,None,None,None
1,1,jl_650dd7c810f61830,"Data scientist, university graduate",Moka POS,Singapore,None,fulltime,"PhD, ph.d","Bachelor's Degree in Statistics, Mathematics, ...",https://www.indeed.com.sg/rc/clk?jk=650dd7c810...,"Data Scientist, University Graduate - Singapor...",programming,python_r,None,None,None
2,2,jl_6d32f1e064130c78,Data scientist,Dow Technologies and Systems,Singapore,"$5,500 - $8,000 a month",fulltime,"PhD, ph.d","Design efficient, scalable, automated processe...",https://www.indeed.com.sg/company/Dow-Technolo...,Data Scientist - Singapore - Indeed.com.sg Fin...,None,None,None,None,None
3,3,jl_5a1bfa5b72970074,Sr. principal data scientist - singapore,Forcepoint,Singapore,None,fulltime,"PhD, ph.d",Forcepoint is seeking a qualified full-time Se...,https://www.indeed.com.sg/rc/clk?jk=5a1bfa5b72...,Sr. Principal Data Scientist - Singapore - Sin...,programming,python,None,None,None
4,4,jl_02cee7d9775ade0a,Data scientist,Snaphunt,Singapore,"$80,000 - $100,000 a year",fulltime,"PhD, ph.d",Ability to visualize data with the aid of data...,https://www.indeed.com.sg/company/Snaphunt-Pte...,Data Scientist - Singapore - Indeed.com.sg Fin...,programming,r,None,None,None

In [5]:
merge_df.drop(['Unnamed: 0','summary'],axis=1,inplace=True)

In [6]:
merge_df.shape

(1011, 14)

In [7]:
merge_df.head()

,job_id,job_title,job_company,location,salaries,job_type,edu,job_link,job_desc,skill,programming,analysis,hadoop,database
0,jl_d0b1d36a012a20fe,Data scientist,Rakuten Asia Pte Ltd,Singapore,"$5,000 - $9,000 a month",fulltime,"PhD, ph.d",https://www.indeed.com.sg/company/Rakuten-Asia...,Data Scientist - Singapore - Indeed.com.sg Fin...,programming,r,None,None,None
1,jl_650dd7c810f61830,"Data scientist, university graduate",Moka POS,Singapore,None,fulltime,"PhD, ph.d",https://www.indeed.com.sg/rc/clk?jk=650dd7c810...,"Data Scientist, University Graduate - Singapor...",programming,python_r,None,None,None
2,jl_6d32f1e064130c78,Data scientist,Dow Technologies and Systems,Singapore,"$5,500 - $8,000 a month",fulltime,"PhD, ph.d",https://www.indeed.com.sg/company/Dow-Technolo...,Data Scientist - Singapore - Indeed.com.sg Fin...,None,None,None,None,None
3,jl_5a1bfa5b72970074,Sr. principal data scientist - singapore,Forcepoint,Singapore,None,fulltime,"PhD, ph.d",https://www.indeed.com.sg/rc/clk?jk=5a1bfa5b72...,Sr. Principal Data Scientist - Singapore - Sin...,programming,python,None,None,None
4,jl_02cee7d9775ade0a,Data scientist,Snaphunt,Singapore,"$80,000 - $100,000 a year",fulltime,"PhD, ph.d",https://www.indeed.com.sg/company/Snaphunt-Pte...,Data Scientist - Singapore - Indeed.com.sg Fin...,programming,r,None,None,None

In [8]:
merge_df.groupby('job_id').size()

job_id
jl_00adf8e3758895c8    2
jl_011ddb77c89bff42    2
jl_01e4cd30d48b4b86    2
jl_01eee2480d0a39b9    2
jl_02cee7d9775ade0a    6
jl_04a0c11a58b18d7c    4
jl_04ff0902cb360b54    2
jl_0513b47d6e0b89fa    2
jl_05c1868233510c73    2
jl_06cdb95512829dc1    1
jl_06fa13df58672de6    4
jl_07a5c31c680d03b6    2
jl_08e5541523b0819a    2
jl_091cf73a8ec3083e    2
jl_098f2bf271262a5b    3
jl_0a4016c1d6dc0d5c    2
jl_0a5144661e64fbf8    3
jl_0b0b1980f9cf170d    2
jl_0b17643258a3afa4    4
jl_0b746a9ad8f3195f    1
jl_0bc8a6326516c467    2
jl_0c9a44e6013cd4d3    1
jl_0d6c071654b124ef    2
jl_0da82a36234bb37f    2
jl_0dd1a37185d55038    1
jl_0fe2293b8bd6fafe    2
jl_0ffae5b0db1fb2c2    2
jl_10cece5e9f1c618c    4
jl_11af04f42699d12d    2
jl_11bb7dd2a1f826f0    2
                      ..
jl_ee203760f4c79524    2
jl_ee832b1acc045b5d    2
jl_ef39e9c829391a35    2
jl_f066b2e268fd0445    2
jl_f0ea6a7b7fe1d11f    4
jl_f14476179ad2d7a9    2
jl_f195f76ce36c43e0    2
jl_f25964a6c6708b8a    4
jl_f290e7fac92fa4b8    2
jl_f32ac7c022f69785    6
jl_f456ea481f2cec52    4
jl_f46748dd1dc454cf    2
jl_f5076ded88d12f5b    2
jl_f52c7fdd3bb76a4e    4
jl_f5f5d42428a5326d    6
jl_f68d23189fb8e7e9    4
jl_f7441cb5d1f5102b    2
jl_f79b360884d8a5ca    4
jl_f7dd4a03bc33d25e    2
jl_f82a861027140f71    3
jl_f9330d101efd332e    1
jl_f9c4fe6de08a7b3d    1
jl_fa9e116b7300d690    3
jl_fbd25da39c4d51aa    4
jl_fcc4a6053d696c80    2
jl_fd25b96821457c0c    2
jl_fd2f9067f0e590ad    1
jl_fd4fd6d6af27e7c0    2
jl_fec6b7effdf73fff    4
jl_ffa25117f826e944    2
Length: 376, dtype: int64

In [9]:
merge_df[merge_df['job_id']=='jl_00adf8e3758895c8']

,job_id,job_title,job_company,location,salaries,job_type,edu,job_link,job_desc,skill,programming,analysis,hadoop,database
278,jl_00adf8e3758895c8,Regulatory affairs director,JUUL Labs,Singapore,None,intership,"PhD, ph.d",https://www.indeed.com.sg/rc/clk?jk=00adf8e375...,Regulatory Affairs Director - Singapore - Inde...,hadoop,None,None,e,None
567,jl_00adf8e3758895c8,Regulatory affairs director,JUUL Labs,Singapore,None,intership,"Bachelors, BS, BA",https://www.indeed.com.sg/rc/clk?jk=00adf8e375...,Regulatory Affairs Director - Singapore - Inde...,hadoop,None,None,e,None

In [10]:
merge_df=merge_df.drop_duplicates(subset='job_id', keep="last")

In [11]:
merge_df.shape

(376, 14)

In [24]:
merge_df.head()

,job_id,job_title,job_company,location,salaries,job_type,edu,job_link,job_desc,skill,programming,analysis,hadoop,database
103,jl_c9d38ff3f4a04d15,Process engineer (digital manufacturing),CLARIANT (SINGAPORE) PTE. LTD.,Singapore,None,fulltime,"PhD, ph.d",https://www.indeed.com.sg/rc/clk?jk=c9d38ff3f4...,Process Engineer (Digital Manufacturing) - Sin...,None,None,None,None,None
149,jl_f9c4fe6de08a7b3d,Senior account executive,h2o.ai,Singapore,None,fulltime,"PhD, ph.d",https://www.indeed.com.sg/rc/clk?jk=f9c4fe6de0...,Senior Account Executive - Singapore - Indeed....,programming,python_java_scala_r,None,None,None
229,jl_ccf215af16154b65,Junior back end engineer,Pencil,Singapore,None,fulltime,"Bachelors, BS, BA",https://www.indeed.com.sg/rc/clk?jk=ccf215af16...,Junior Back End Engineer - Singapore - Indeed....,programming,python,None,None,None
232,jl_843924f121aa66b9,Apac data scientist,UPS,Singapore,None,fulltime,"Bachelors, BS, BA",https://www.indeed.com.sg/rc/clk?jk=843924f121...,APAC Data Scientist - Singapore - Indeed.com.s...,None,None,None,None,None
233,jl_43426153467cf03b,"Data scientist intern, real world insights",IQVIA,Singapore,None,fulltime,"Bachelors, BS, BA",https://www.indeed.com.sg/rc/clk?jk=4342615346...,"Data Scientist Intern, Real World Insights - S...",programming,python_r,None,None,None

In [25]:
#merge_df.to_csv('./testing.csv',index=False)
merge_df.drop('edu',axis=1,inplace=True)

In [12]:
df_scien=pd.read_csv("./all_job.csv")
df_scien.drop('edu',axis=1,inplace=True)
merge_df.to_csv('./all2.csv')

In [15]:
df_a=pd.read_csv('./analyst_job.csv')
df_b=pd.read_csv('./all2.csv')

merge_df=pd.concat([df_a,df_b])
merge_df.shape

(909, 16)

In [16]:
merge_df.to_csv('./test2.csv',index=False)

In [ ]:
df_s=pd.read_csv('./test2.csv')
df_b=pd.read_csv('./others_an_job.csv')